@import "bootstrap-sprockets";
@import "bootstrap";

#grid-container {
  table {
    border-collapse: collapse;
    tr {
      td {
        width: 20px;
        height: 20px;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 2px;
        float: left;

        &:first-of-type {
          margin-left: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }

        &.square {
          background-color: gray;
        }
        &.line {
          background-color: darkblue;
        }
        &.triangle {
          background-color: darkred;
        }

      }
      &:last-of-type {
        td {
          margin-bottom: 0;
        }
      }
    }
  }

  .button-container {
    margin-top: 50px;
  }
}

#tools-container {
  .symbol-container {
    .row {
      padding-left: 16px;
      label {
        margin-bottom: 0;
        margin-left: 10px;
      }
      input[type="radio"] {
        margin-top: 0;
      }
    }
  }
  .button-container {
    margin-top: 20px;
  }
}

#flash {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  padding: 10px;
  opacity: 0;

  .notice, .error {
    padding: 10px 20px;
    color: white;
  }
  .notice {
    background-color: rgba(7, 146, 11, 0.8);
  }
  .error {
    background-color: red;
  }
}